@value values: "../style/values.module.css";
@value myBlack from values;

.grid {
    display: grid; 
    grid-template-areas: 
    "user user user user"
    "lives obstacles controls cheat"
    "route obstacles morse cheat"
    "route obstacles result cheat"
    ;
    height: 100vh;
    max-width: 100vw;
    background-color: myBlack;
};

.popup {
    grid-area: user;
    z-index: 2;
}

.user {
    grid-area: user;
}

.lives {
    grid-area: lives;
}

.storm {
    grid-area: route;
}

.route {
    grid-area: route;
}

.morse {
    grid-area: morse;
}

.result {
    grid-area: result;
}

.obstacle {
    grid-area: obstacles;
}

.options {
    grid-area: obstacles;
}

.cheatsheet {
    grid-area: cheat;
}