.grid {
    display: grid; 
    grid-template-areas: 
    "user user user"
    "lives morse options"
    "storm morse options"
    "storm result cheatsheet"
    ;
    max-height: 100vh;
};

.user {
    grid-area: user;
}

.lives {
    grid-area: lives;
}

.storm {
    grid-area: storm;
}

.route {
    grid-area: storm;
}

.morse {
    grid-area: morse;
}

.result {
    grid-area: result;
}

.obstacle {
    grid-area: options;
}

.options {
    grid-area: options;
}

.cheatsheet {
    grid-area: cheatsheet;
}