@value values: "../style/values.module.css";
@value regularFont, regularSize, myBlack from values;

.grid {
    display: grid; 
    grid-template-areas: 
    "user user user user"
    "lives obstacles controls cheat"
    "route obstacles morse cheat"
    "route obstacles result cheat"
    ;
    height: 100vh;
    max-width: 100vw;
    background-color: myBlack;
};

.popup {
    grid-area: user;
    z-index: 2;
}

.username {
    grid-area: user;
    font-family: regularFont; 
    font-size: regularSize;
    text-transform: capitalize;
    margin: 1rem 5rem;
}

.lives {
    grid-area: lives;
    display: flex;
    justify-content: center;
    align-items: center;
}

.storm {
    grid-area: route;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 2rem;
}

.route {
    grid-area: route;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 2rem;
}

.morse {
    grid-area: morse;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result {
    grid-area: result;
    display: flex;
    justify-content: center;
    align-items: center;
}

.obstacle {
    grid-area: obstacles;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 2rem;
}

.options {
    grid-area: obstacles;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 2rem;
}

.cheatsheet {
    grid-area: cheat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 2rem;
}