.grid {
    display: grid; 
    grid-template-areas: 
    "avatar avatar avatar"
    "lives morse options"
    "storm morse options"
    "storm result cheatsheet"
    ;
    max-height: 100vh;
}

.avatar {
    grid-area: avatar;
}

.lives {
    grid-area: lives;
}

.storm {
    grid-area: storm;
}

.morse {
    grid-area: morse;
}

.result {
    grid-area: result;
}

.options {
    grid-area: options;
}

.cheatsheet {
    grid-area: cheatsheet
}