@value values: "../style/values.module.css";
@value miniVal, regVal, bigVal from values;

.borderSmall {
    padding: miniVal;
    border: solid miniVal;
    border-radius: regVal;
}

.borderLarge {
    padding: regVal;
    border: solid miniVal;
    border-radius: bigVal;
}

.borderHuge {
    padding: regVal; 
    border: solid 1rem;
    border-radius: 10%;
}

.borderFull {
    padding: regVal;
    border: solid miniVal;
    border-radius: 50%;
}

.borderButton {
    padding: miniVal;
    border: solid regVal; 
    border-radius: bigVal;
}