@value values: "../style/values.module.css";
@value bigVal, myBlack, regularSize, regularFont from values;

.columnSpace {
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 
}

.columnCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.columnEnd {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: bigVal;
}

.button {
    width: 30rem;
    height: 5rem;
    background-color: myBlack;
    border: none;
    font-family: regularFont;
    font-size: regularSize;
}

