@value values: "../style/values.module.css";
@value bigFont, regSize, regVal, miniVal from values;

.container {
    width: 50rem;
    margin: 1rem 2rem;
    composes: borderSmall from "../style/borders.module.css";
}

.inside {
    padding: regVal;
    margin: miniVal;
    height: 5rem;
    composes: borderSmall from "../style/borders.module.css";
}

.avatar {
    width: 20vw;
}

.caption {
    font-family: bigFont; 
    font-size: regularSize;
    padding: miniVal;
}

.captionContainer {
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    width: 60vw; 
    padding: 2rem;
    border: .2rem solid black;
    border-radius: .5rem;
}

.next {
    display: flex; 
    align-self: flex-end;
    border-radius: 3rem;
    padding: .5rem;
}