@value values: "../style/values.module.css";
@value bigFont, regularSize, regVal, bigVal from values;

.container {
    width: 17rem;
    min-height: 49rem;
    margin: 0 2rem;

    composes: borderLarge from "../style/borders.module.css";
}

.opacity {
    opacity: .2
}

.inside {
    display: grid; 
    grid-template-columns: repeat(2, 7.5rem);
    grid-template-rows: repeat(12, 3.5rem);
    padding-left: 2rem;
    
    composes: borderLarge from "../style/borders.module.css";
}

.letter {
    font-family: bigFont;
    font-size: regularSize;
    text-align: left;
    padding: 0rem regVal;
}