@value values: "../style/values.module.css";
@value bigFont, regularSize from values;

.container {
    width: 15rem;
    height: 85vh;
    background-color: black;

    composes: borderLarge from "../style/borders.module.css";
}

.inside {
    display: grid; 
    grid-template-columns: repeat(2, 7.5rem);
    grid-template-rows: repeat(12, 3.5rem);
    
    composes: borderLarge from "../style/borders.module.css";
}

.letter {
    font-family: bigFont;
    font-size: regularSize;
    text-align: center;
}