@value values: "../style/values.module.css";
@value miniVal from values;

.container {
    width: 20rem;

    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly;
}

.opacity {
    opacity: .2;
}

.svg {
    width: 5rem; 
    height: 5rem;
}