@value values: "../style/values.module.css";
@value regularFont, regularSize, regVal, miniVal from values;

.container {
    width: 15rem;
    height: 15rem;
    text-align: center;
    margin: 0 2rem;

    composes: borderFull from "../style/borders.module.css";
}

.opacity {
    opacity: .2;
}

.inside { 
    min-height: 13.5rem;
    composes: borderFull from "../style/borders.module.css";

    composes: columnCenter from "../style/position.module.css";
}

.text {
    width: 13rem;
    padding: miniVal;

    font-family: regularFont; 
    font-size: regularSize;
    text-align: center;
}