@value values: "../style/values.module.css";
@value bigFont, titleSize from values;

.container {
    width: 15rem;
    height: 85vh;

    composes: borderLarge from "../style/borders.module.css";
};

.inside {
    height: 82vh;
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    composes: borderLarge from "../style/borders.module.css";
}

.svg {
    width: 12rem; 
    height: 40rem;
}

.text {
    font-family: bigFont; 
    font-size: titleSize;
    text-align: center;
    text-transform: uppercase;
}