@value values: "../style/values.module.css";
@value bigFont, titleSize, miniVal from values;

.container {
    width: 17rem;
    min-height: 49rem;
    margin: 0 2rem;

    composes: borderLarge from "../style/borders.module.css";
}

.opacity {
    opacity: .2
}

.inside {
    min-height: 49rem;
    padding: miniVal;

    composes: columnSpace from "../style/position.module.css";
    composes: borderLarge from "../style/borders.module.css";
}

.svg {
    width: 12rem; 
    height: 35rem;
}

.text {
    font-family: bigFont; 
    font-size: titleSize;
    text-align: center;
    text-transform: uppercase;
}