@value values: "../style/values.module.css";
@value bigFont, titleSize, miniVal from values;

.container {
    width: 17rem;
    min-height: 49rem;
    margin: 0 2rem;

    composes: borderLarge from "../style/borders.module.css";
};

.inside {
    min-height: 49rem;
    padding: miniVal;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    composes: borderLarge from "../style/borders.module.css";
}

.option {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.svg {
    width: 12rem; 
    height: 8.5rem;
}

.text {
    font-family: bigFont; 
    font-size: titleSize;
    text-align: center;
    text-transform: uppercase;
}