@value values: "../style/values.module.css";
@value regularFont, regularSize, regVal from values;

.container {
    width: 15rem;
    margin: 2rem;
    composes: borderSmall from "../style/borders.module.css";
}; 

.text {
    color: white;
    font-family: regularFont; 
    font-size: regularSize;
}