@value values: "../style/values.module.css";
@value regularFont, regularSize, regVal from values;

.container {
    width: 15rem;
    height: 15rem;
    text-align: center;
    margin: 2rem;

    composes: borderFull from "../style/borders.module.css";
};

.inside {
    margin: regVal;
    
    composes: borderFull from "../style/borders.module.css";
}

.text {
    width: 13rem;
    height: 10rem;

    font-family: regularFont; 
    font-size: regularSize;
    text-transform: capitalize;
    text-align: center;
}