@value values: "../style/values.module.css";
@value bigFont, titleSize, miniVal from values;

.container {
    min-height: 37rem;
    width: 15rem;
    text-align: center;
    margin: 0 2rem;

    composes: borderLarge from "../style/borders.module.css";
}

.inside {
    min-height: 37rem;
    padding: miniVal;

    composes: columnSpace from "../style/position.module.css";
    composes: borderLarge from "../style/borders.module.css";
}

.text {
    font-family: bigFont;
    font-size: titleSize;
    text-align: center;
    text-transform: uppercase;
}