.container {
    width: 10rem;
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
}

.opacity {
    opacity: .2;
}

.setting {
    border-color: white;
    width: 3rem;
    height: 3rem;
    display: flex; 
    justify-content: center;
    align-items: center;

    composes: borderFull from "../style/borders.module.css";
}

.svg {
    width: 1.5rem;
}