.container {
    width: 10rem;
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
}; 

.setting {
    border-color: white;
    width: 5rem;
    display: flex; 
    justify-content: center;
    align-items: center;

    composes: borderFull from "../style/borders.module.css";
};

.svg {
    width: 3rem;
}