.container {
    min-height: 37rem;
    width: 15rem;
    text-align: center;
    margin: 0 2rem;

    composes: borderLarge from "../style/borders.module.css";
}

.inside {
    min-height: 37rem;
    padding: miniVal;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    composes: borderLarge from "../style/borders.module.css";
}

.rechts{
    animation-name: rotateR;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    display: inline-block;
}
@keyframes rotateR {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

.rechts{
    animation-name: rotateL;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    display: inline-block;
}
@keyframes rotateL {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-90deg);
    }
}