.container {
    min-height: 37rem;
    width: 15rem;
    text-align: center;
    margin: 0 2rem;

    composes: borderLarge from "../style/borders.module.css";
}

.opacity {
    opacity: .2;
}

.inside {
    min-height: 37rem;
    padding: miniVal;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    composes: borderLarge from "../style/borders.module.css";
}

.rechts {
    animation: rechts 4s linear infinite;
}

@keyframes rechts { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

.links {
    animation: links 4s linear infinite;
}

@keyframes links { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(-360deg); 
    } 
}